#!/usr/bin/make -f

PY3VERS = $(shell py3versions -dv)

export DEB_CPPFLAGS_MAINT_APPEND = -DNDEBUG

ifeq ($(DEB_HOST_ARCH),amd64)
	SETEMBREE = ON
else
	SETEMBREE = OFF
endif

ifneq (,$(filter $(DEB_HOST_ARCH),amd64))
	SETVDB = ON
else
	SETVDB = OFF
endif

ifneq (,$(filter $(DEB_HOST_ARCH), amd64 arm64 ppc64el))
	CUDA = ON
else
	CUDA = OFF
endif

ifneq (,$(filter $(DEB_HOST_ARCH), amd64))
	HIP = ON
else
	HIP = OFF
endif

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_SKIP_RPATH=ON \
		-DPYTHON_VERSION=$(PY3VERS) \
		-DWITH_CODEC_FFMPEG=ON \
		-DWITH_CODEC_SNDFILE=ON \
		-DWITH_CYCLES=ON \
		-DWITH_CYCLES_EMBREE=$(SETEMBREE) \
		-DWITH_CYCLES_DEVICE_CUDA=$(CUDA) \
		-DWITH_CYCLES_DEVICE_OPTIX=$(CUDA) \
		-DWITH_CYCLES_DEVICE_HIP=$(HIP) \
		-DWITH_DOC_MANPAGE=ON \
		-DWITH_FFTW3=ON \
		-DWITH_IMAGE_OPENJPEG=ON \
		-DWITH_INPUT_NDOF=ON \
		-DWITH_INSTALL_PORTABLE=OFF \
		-DWITH_JACK=ON \
		-DWITH_MOD_OCEANSIM=ON \
		-DWITH_OPENCOLORIO=ON \
		-DWITH_OPENSUBDIV=ON \
		-DWITH_OPENVDB=$(SETVDB) \
		-DWITH_PYTHON_INSTALL=OFF

override_dh_auto_test:

override_dh_dwz:
	dh_dwz -- --max-die-limit none

%:
	dh $@ --buildsystem=cmake --with python3
